@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');


@layer base {

    * {
        font-family: 'Montserrat', sans-serif;
    }

    body {
        @apply bg-light dark:bg-dark scroll overflow-y-scroll ;
    }

    html {
        @apply text-primary;
    }

    table {
        @apply text-primary;
    }

    button {
        font-family: 'Montserrat', sans-serif;
    }
}

.submit-button {
    @apply text-white font-semibold uppercase p-3 rounded w-[220px] h-[50px] flex justify-center items-center
    bg-gradient-to-b from-action to-actiongradient drop-shadow-[0_5px_5px_rgba(0,0,0,0.95)]
    focus:bg-gradient-to-b focus:from-actiongradient focus:to-action focus:drop-shadow-[0_5px_5px_rgba(0,0,0,0.95)]
    ;
}

.submit-button-disabled {
    @apply text-white font-semibold uppercase p-3 rounded w-[220px] h-[50px] flex justify-center items-center
    bg-gradient-to-b from-slate-400 to-slate-500 drop-shadow-[0_5px_5px_rgba(0,0,0,0.95)]
    ;
}


/* MODAL */

.slide-modal {
    animation-duration: 0.1s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes slidein {
    from {
    margin-top: -100%;
}
    to {
    margin-top: 0%;
    }
}

.scrollbar {
    @apply overflow-y-scroll;
}

/* total width */
.scrollbar::-webkit-scrollbar {
    width: 8px;
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
    @apply my-10;
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
    border: 1px solid #26263F;
    @apply rounded absolute -right-6;
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {
    display:none;
}

/* Global */
.scroll::-webkit-scrollbar {
    width: 8px;
}

/* Fond */
.scroll::-webkit-scrollbar-track {
    @apply bg-white dark:bg-dark;
}

/* Ascenseur */
.scroll::-webkit-scrollbar-thumb {
    @apply bg-dark/40 dark:bg-white/10;
    border-radius: 8px;
}


/* Boutons */
.scroll::-webkit-scrollbar-button:single-button {
    display: block;
    border-style: solid;
    height: 20px;
    width: 16px;
}